@charset "utf-8";

.header-info {
  display: block;
  position: relative;
  margin: 10px;
}

.header-info-name {
  font-size: 2em;
  font-weight: bold;
  border: 2px solid black;
}

.header-info-name-link {
  all:revert;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.header-info-name :hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

.header-info-desc {
  font-size: 16px;
  font-weight: bold;
}

.header-main-nav {
  margin: 0;
  list-style: none;
}

.header-main-nav-item {
  display: block;
  position: relative;
  float: left;
  line-height: 24px;
  margin: 0 10px;
}

.header-main-nav-item-link {
  text-decoration: none;
  color: #000;
}

.header-main-nav-item-link:hover {
  color: #aaa;
}
