.question-block {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.question-tag {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-right: 5px;
    transition: 200ms;
    cursor: pointer;
    user-select: none;
}

.question-tag:hover {
    color: white;
    background-color: black;
    border-color: black;
    transition: 200ms;
}

#mynavbar {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-tag-nav {
    margin: 4px;
    font-size: 12pt;
}

#test{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 600px;
    border: 0;
}
#buymecoffeediv {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 40px;
}
#buymecoffespan {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 1000ms;
    background-position-x: center;
    background-position-y: 20px;
    background-repeat: no-repeat;
    background-image: url("/assets/images/c++-questions/money.gif");
}
#buymecoffespan:hover {
    background-position-y: center;
    color: white;
    font-weight: bolder;
    transition: 1000ms;
    text-decoration: none;
}