.question-block {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.question-tag {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 11pt;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: 200ms;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items:center;
}
.question-tag-selected {
    color: white;
    background-color: black;
}

.question-tag:hover {
    color: white;
    background-color: black;
    border-color: black;
    transition: 200ms;
}

.question-tag-nav {
    margin: 4px;
    font-size: 12pt;
}
#mynavbar {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#test {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 600px;
    border: 0;
}
#buymecoffeediv {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 40px;
}
#buymecoffeediv.mobile {
    margin: 0;
    margin-bottom: 28px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#buymecoffespan {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 14pt;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 1000ms;
    background-position-x: center;
    background-position-y: 20px;
    background-repeat: no-repeat;
    background-image: url("/assets/images/c++-questions/money.gif");
}
#buymecoffespan:hover {
    background-position-y: center;
    color: white;
    font-weight: bolder;
    transition: 1000ms;
    text-decoration: none;
}
.codeframe {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 99%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 20px;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding:0;
}
.fire {
    margin-left: -20px;
    margin-right: 1px;
    font-style: normal;
    width: 20px;
    height: 20px;
}
img.emoji {
    font-weight: initial;
    font-style: normal;
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;
    vertical-align: middle;
    margin: 5px;
}
img.emoji-cross-mark {
    margin: 7px;
}
img.emoji-fire {
    width: 15px;
    height: 15px;
    margin: 0 3px;
}
.tag-text {
    margin:0;
    vertical-align: middle;
    text-align: center;
    margin: 2px 5px;
}
.nav-tag-text {
    margin:0;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}
code.inline-code {
    background-color: rgb(219, 219, 219);
    color:  #cf222e;
    border-radius: 5px;
    font-weight:700;
    padding: 1px 5px;
    font-size: 11pt;
}