.question-block {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.question-tag {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-right: 5px;
    transition: 200ms;
    cursor: pointer;
}

.question-tag:hover {
    color: white;
    background-color: black;
    border-color: black;
    transition: 200ms;
}

#mynavbar {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-tag-nav {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin:1px;
}