<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  {% include head.html %}
  {% include analytics.html %}
</head>

<body>
  <link href="/assets/css/buymecoffee.css" rel="stylesheet" />
  <div id="buymecoffeediv">
    <a href="https://www.buymeacoffee.com/zzck.dev" target="_blank" id="buymecoffespan">Help me buy a Midi 🎹</a>
  </div>
  <div class="container-wrapper">
    <header class="container-header">
      {% include header.html %}
    </header>
    <main class="container-main">
      {{content}}
    </main>
    <footer class="container-footer">
      {% include footer.html %}
    </footer>
  </div>
</body>

</html>